**/*.*~
**/*.data
auto-save-list
elpa
.emacs.desktop*
**/*.code-workspace
*.eln
**history.el
**/lock
.lsp
session.*
.clj-kondo/**
.cache
eln-cache
tramp

# ignore recent files list
recentf

# ignore minibuffer input history
history

# ignore smex command history
smex-items
/init-debug-transient-window.el
init.el
**.tangled.*
/shortcuts/
/snippets/org-mode/.yas-compiled-snippets.el
/projects
