**/*.*~
**/*.data
auto-save-list
elpa
.emacs.desktop*
**/*.code-workspace
*.eln
**history.el
**/lock
.lsp
session.*
.clj-kondo/**
.cache
eln-cache
tramp

# ignore recent files list
recentf

# ignore minibuffer input history
history

# ignore smex command history
smex-items

# bookmarks
bm-repository

# clocks
org-clock-save.el

/init-debug-transient-window.el
init.el
**.tngl.*
/shortcuts/
/snippets/org-mode/.yas-compiled-snippets.el
/projects
/bookmarks
undo-fu-session
/bookmarks~
.org-id-locations
